body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.8em;
}

header {
  text-align: center;
  padding: 120px 10px;
  background-image: url(imagens/alexander-andrews-nebula.jpg);
  background-size: cover;
  color: white;
}

h1 {
  font-family: "Playfair Display", Robot, sans-serif;
  font-size: 48px;
}

.slogan {
  font-size: 20px;
  color: rgb(200, 200, 200);
}

.botao {
  display: inline-block;
  margin: 16px;
  padding: 10px 20px;
  background-color: rgb(200, 200, 200);
  border-radius: 26px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.botao:hover {
  background-color: white;
}

div {
  max-width: 700px;
  margin: 40px auto;
  padding: 10px;
}

h2 {
  font-family: "Playfair Display", Robot, sans-serif;
}

#explicacao {
  min-height: 58px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: rgb(200, 200, 200);
}

.lista-links {
  list-style: none;
  padding-left: 0;
}

.lista-links li {
  display: inline;
  margin: 0 10px;
}

.lista-links a {
  color: rgb(200, 200, 200);
  font-size: 40px;
}

.lista-links a:hover {
  color: white;
}
