body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.8em;
}

/*Tipografia*/
h1 {
  font-family: Lobster, Robot, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: Montserrat, Robot, sans-serif;
}

/*Componente Header/Banner*/
header {
  text-align: center;
  padding: 120px 10px;
  background-image: url(imagens/lachlan-dempsey-surfers.jpg);
  background-size: cover;
  background-position: right;
  color: black;
}

.slogan {
  font-size: 20px;
  color: black;
}

/*Componente Botão*/
.botao {
  display: inline-block;
  margin: 16px;
  padding: 10px 20px;
  background-color: rgb(200, 200, 200);
  border-radius: 26px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.botao:hover {
  background-color: white;
}

/*Componente Quiz*/
div {
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
}

.lista-quiz li:hover {
  cursor: pointer;
}

#explicacao {
  min-height: 58px;
}

/*Componente Footer*/
footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: rgb(200, 200, 200);
}

.lista-links {
  list-style: none;
  padding-left: 0;
}

.lista-links li {
  display: inline;
  margin: 0 10px;
}

.lista-links a {
  color: rgb(200, 200, 200);
  font-size: 40px;
}

.lista-links a:hover {
  color: white;
}
