/*Adicionar <link rel="stylesheet" type="text/css" href="style.css"> ao ficheiro html*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.8em;
}

header {
  text-align: center;
  padding: 120px 10px;
  background-image: url(imagens/lachlan-dempsey-surfers.jpg);
  /*image source: https://images.unsplash.com/photo-1503022932596-500eb8cca2d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80*/
  background-size: cover;
  background-position: right;
  color: black;
}

div {
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  /*Usando apenas escala de cinzentos e cores padrão*/
  background-color: black;
  color: rgb(200, 200, 200);
}

a {
  color: rgb(200, 200, 200);
}

a:hover {
  color: white;
}
